body{
    background-color:  #066acd;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 40%;
    padding-bottom: 10px;
}
.input-area{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 50px 20px;
    align-items: center;
}
#input{
    width: 80%;
    height: 30px;
    border: 2px solid #0d75ec;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
}
#a_btn{
    background-color: #0d75ec;
    width: 15%;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
#tasks{
    list-style-type: none;
}
#tasks-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task{
    display: flex;
    border: 2px solid #c5e1e6;
    background-color: #c5e1e6;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 0 5px 0 5px;
    align-items: center;
    border-radius: 5px;
}
.t-btn{
    height: 100%;
    justify-content: center;
    background-color: #0a2ea4;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#para{
    margin: 5px;
    font-size: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
}